==
{% if result1 == 1 %}
<a href="{{result}}" style="padding: 20px 255px 20px 255px;height: 50px;border: none;border-radius: 5px;width: 500px;font-size: 27px;color: #ffffff;font-weight: initial;background-color: #43cc1e;">начать</a>
{% else %}
<h1>Накрутка лайков - instagram</h1>
<small>*рекомендуем использовать анонимайзер или vpn утилиты для 100% накрутки<br>или зайдите на сайт с мобильного интернета</small>
			<form class="form-inline" data-request="onTest" data-request-update="calcresult: '#result'"> 
				<input type="text" name="url" style="width: 29%;height: 50px;border-radius: 5px;border: none;padding-left: 50px;" placeholder="ваша ссылка на пост">
				<button type="submit" style="height: 50px;border: none;border-radius: 5px;width: 10%;font-size: 17px;color: #ffffff;font-weight: initial;background-color: cornflowerblue;">вперед</button>
			</form> 
{% endif %}